/.idea
/node_modules
/dist
/tmp
/screenshots/failed
/screenshots/errors
npm-debug.*
/coverage
/hummingbird
.DS_Store
package-lock.json
TODO
/src/i18n/generatedTranslations.json
yarn-error.log
.env
.env.production
.env.staging
.firebase
/cypress/videos/
/cypress/report/
/src/libraries/wings-ui/styleguide
